# Kiln Recipes
public  net.minecraft.item.crafting.CookingRecipeSerializer$IFactory

# JEI support
public net.minecraft.item.crafting.RecipeManager func_215366_a(Lnet/minecraft/item/crafting/IRecipeType;)Ljava/util/Map; # getRecipes

# No NBT Ingredient
public net.minecraft.item.crafting.Ingredient field_199807_b # acceptedItems