# Kiln Recipes
public net.minecraft.world.item.crafting.SimpleCookingSerializer$CookieBaker
public net.minecraft.data.recipes.SimpleCookingRecipeBuilder <init>(Lnet/minecraft/data/recipes/RecipeCategory;Lnet/minecraft/world/item/crafting/CookingBookCategory;Lnet/minecraft/world/level/ItemLike;Lnet/minecraft/world/item/crafting/Ingredient;FILnet/minecraft/world/item/crafting/RecipeSerializer;)V

# JEI support
public net.minecraft.world.item.crafting.RecipeManager m_44054_(Lnet/minecraft/world/item/crafting/RecipeType;)Ljava/util/Map; # getRecipes

# No NBT Ingredient
public net.minecraft.world.item.crafting.Ingredient f_43902_ # acceptedItems
